// Place all the styles related to the Claims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-span-filestyle label{
  height: 150px;
  width: 150px;
  background: url('/assets/image-file-background.jpg');
}
