%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %ul.nav.navbar-nav.mx-auto
    %li.nav-item
      %p.text-right
        - if current_user
          = link_to "Sign Out", user_session_path, method: :delete
        - else
          = link_to "Sign In", new_user_session_path
      %p.text-center
        EKV CLAIM PHOTO CAPTURE
        %hr/
      %p.text-center
        = image_tag("LOGO.png", width: 50, height: 50)
        ENDEMA KEIJZERS
      %p.text-center
        A fast and easy way to capture your claim photos and documents! 

